<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<marquee behaviour="alternate" or direction="right" scrolldelay="100"><b>Welcome to Silver chat</b></marquee>
<meta charset="UTF-8">
<title>Chatbot</title>
<style>
    body {
        background-image: url("http://wallpapers.net/web/wallpapers/network-connection-hd-wallpaper/3840x2160.jpg");
        background-repeat:no-repeat;
        background-size:100%;
    }
    marquee{
        font-size: 30px;
        font-weight: 800;
        color: #8ebf42;
        font-family: sans-serif;
    }
</style>
</body>
</html>
